<div ng-controller="issuesheetCtrl">	
	<div class="container issue">
	<div class="row">
			<div class="panel panel-default" >
				<div class="panel-heading">
					计划模板
<!-- 					<div class="btn-group pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							···<span class="demo-icon">&#xe864;</span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div> 后面用留着-->
					<a href="" data-toggle="modal" data-target="#addIssueSheet"class="pull-right" >新增<span class="demo-icon">&#xe801;</span></a>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object card-icon img-circle" src="res/img/tx.jpg" alt="...">
							</a>
						</div>
						<div class="media-body">
							<div class="card-layout">
								<p class="media-heading text-muted">南山图图</p>
								<a ng-click="gotoAnchor('issuea')">主项计划模板V1.0</a>
								<div class="media-r-t">
									<a href=""></a>
								</div>
								<div class="media-r-b text-muted">
									<span class="demo-icon"><a href="">&#xe836;</a></span>
									<span class="demo-icon"><a href="">&#xe844;</a></span>
								</div>
								<div class="media-oper text-muted">11月16日</div>
							</div>
						</div>
					</div>  
					<hr> 
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object card-icon img-circle" src="res/img/tx.jpg" alt="...">
							</a>
						</div>
						<div class="media-body">
							<div class="card-layout">
								<p class="media-heading text-muted">南山图图</p>
								<a ng-click="gotoAnchor('issuea')">横计划模板V1.0</a>
								<div class="media-r-t">
									<a href=""></a>
								</div>
								<div class="media-r-b text-muted">
									<span class="demo-icon"><a href="">&#xe836;</a></span>
									<span class="demo-icon"><a href="">&#xe844;</a></span>
								</div>
								<div class="media-oper text-muted">11月16日</div>
							</div>
						</div>
					</div> 
					<hr>
					<div class="media-footer">
						<a href=""><span class="demo-icon">&#xe895;</span>下一批</a>
					</div>  
				</div><!--panel body-->
			</div><!--panel-->
		</div><!--row-->
	</div><!--container-->
	<div class="modal fade" id="addIssueSheet">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">筛选条件选择</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label  class="col-sm-2 control-label">人员</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem">
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label  class="col-sm-2 control-label">项目</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem2" >
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray2 | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>				
						</div>
						<div class="form-group">
							<label  class="col-sm-2 control-label">事项单</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem3">
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray3 | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>				
						</div>						
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div><!--ng-controller->