/* app css stylesheet */
html,body{
  background-color: #f5f8fa;
  color:#666666;
}
@media (min-width: 992px){
 html,body {
    font-family: 'Microsoft Yahei';
  }
}
@font-face {
      font-family: 'fontello';
      src: url('./res/font/fontello.eot?22306947');
      src: url('./res/font/fontello.eot?22306947#iefix') format('embedded-opentype'),
           url('./res/font/fontello.woff?22306947') format('woff'),
           url('./res/font/fontello.ttf?22306947') format('truetype'),
           url('./res/font/fontello.svg?22306947#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.navbar-default{
  background-color: #3097d1;
  border-color: #1c73a5;
}
.navbar-default .navbar-toggle{
  background-color: #3097d1;
  border-color: #3097d1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #2d91ca;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #2882b5;
}
.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar {
border-radius: 0px;
}
.navbar-form .form-control{
  border-color: #1C73A5;
}
div.dropdown-toggle{
  margin: 9px 0px;
}
@media (max-width: 767px){
 .ba {
    display: none;
  } 
}
@media (max-width: 767px){
 .bb {
    margin-top: -1px;
  } 
}
@media (min-width: 768px){
 .bc {
    display: none;
  }
}
.welcome{
  color: rgb(30, 57, 72);
  padding: 10px 15px;
  display: block;
  font-weight: 600;
} 

.jumbotron{
  margin-top: -20px;
  /*background-image: linear-gradient(to bottom,#333366 0,#666699 100%);*/
  /*background-repeat: repeat-x;*/
  background-image: url('res/img/rbg3.png');
  background-repeat: repeat;
  color: #fff;
  text-align: center;
}
.jumbotron .p{
  font-weight: 300;
  font-size: 24px;
}
.jumbotron h1{
  margin-bottom: 30px;
}
.jumbotron span a{
  color: #999;
  font-size: 18px;
}
.jumbotron hr {
  margin-top: 30px;
  border-top: 1px solid #999;
  width:100px;
}
.jumbotron ul{
  text-align: center;
}
.jumbotron ul li{
  display:inline;
  padding: 10px;
}
.jumbotron .container div{
  margin-top: 50px;
  margin-bottom: 50px;
}
.jumbotron .container div h5{
  margin-top: 20px;
  color: #336699;
}
.reg{
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.reg .btn{
  padding-left: 30px;
  padding-right: 30px;
}
.ca{
  background-color: #fff;
  text-align: center;
}
.ca h1{
  margin-bottom: 50px;
}
@media (min-width: 768px){
 .ca .row {
    padding-top: 100px;
  }
}
@media (max-width: 767px){
 .ca .row {
    padding-top: 0px;
  }

}
@media (max-width: 767px){
  .ca h4{
    margin-bottom: 5px;
    color: #336699;
    font-weight: bold;
  }

}

.ca .cc{
  background-color: #9999cc;
  color: #fff;
}
.ca .cd{
  background-color: #ff9966;
  color: #fff;
}
.ca .cf{
  background-color: #cccc99;
  color: #fff;
  padding-bottom: 150px;
  margin-top: 150px;
  margin-left: -15px;
  margin-right: -15px;
}
.ca .cf:before,
.ca .cf:after{
  display: table;
  content: " ";
}
.ca .cf:after{
  clear: both;
}

.ca p{
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 1em;
}
.ca .page-header h1{
  margin-top: 50px;
}

.cb{
  margin-top: -30px;
  padding: 10px;
}
.footer{
  border-top: 1px solid #ddd;
  /*margin-top:150px;*/
  padding:0px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #3097d1;
}
.footer .container{
  /*background-color: #fff;*/
  padding-top: 40px;
}
.footer .copyright{
  text-align: center;
  margin-top: 20px;
}
.footer strong{
  color: #eee;
}
.footer a{
  color: rgba(255, 255, 255, 0.8);
}
.regContent{
  margin-top: 50px;
  margin-bottom: 300px;
  text-align: center;
}
.regContent h1{
  margin-bottom: 50px;
  -webkit-font-smoothing:antialiased;
}

.regContent .input-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .regContent .da{
    width:400px;
  }
}
.regContent .form-control{
  font-size: 14px;
}
.regContent .input-group-addon{
  background-color: #fff;
  padding: 3px 12px;
  font-size: 18px;
}
.regContent .formLeft{
  float:left;
  width:60%;
  margin-top: 0px;
}
.regContent .formRight{
  float: right;
  width:35%;
  
}
.regContent .checkCode{
  height: 46px;
  background-color: #cde;
}
.regContent .btn{
  margin-bottom: 20px;
  font-size: 14px;
}
.regContent .btn-lg{
  padding: 13px 16px;
}
.regContent .checkbox{
  clear: both;
}
.mynav .container .row{
  margin-left: 0px;
  margin-right: 0px;
}
.mynav .dropdown .dropdown-menu form{
  padding: 5px 10px 0px;
  text-align: center;
}
.mynav .dropdown .dropdown-menu .tab-content{
  background: #fff;
  margin-bottom: 5px;
}
.mynav .dropdown .dropdown-menu{
  width:200px;
  background-color: #f5f5f5;
  font-size: 12px;
  border-radius: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.mynav .dropdown .dropdown-menu .pagination{
  display: inline-block;
  margin: 0px; 
}
.mynav .dropdown .dropdown-menu .form-control{
  font-size: 12px;
  padding: 3px 6px;
}
.mynav .dropdown .dropdown-menu>p{
  padding: 5px 10px;
  border-bottom:1px solid #dcdcdc;
}
.mynav .dropdown .dropdown-menu .close{
  line-height: 0.8;
}
.mynav .dropdown .dropdown-menu .tab-pane p{
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
  background: #fff;
}
.mynav .dropdown .dropdown-menu ul{
  display: block;
}

.mynav .dropdown .dropdown-menu p a{
  display: list-item;
  padding: 3px 10px;
  text-overflow:ellipsis;
  overflow: hidden;
  text-decoration:none;
  color:inherit;
}
.mynav .dropdown .dropdown-menu p a:hover{
  background-color: #4078c0;
  color: #fff;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #337ab7;
  background-color: #eee;
  border-color: #dcdcdc;
}
.btn-default {
  color: #337ab7;
}
.btn-default:focus,
.btn-default.focus {
  color: #337ab7;
  background-color: #eee;
  border-color: #dcdcdc;
}
.btn-default:hover {
  color: #337ab7;
  background-color: #eee;
  border-color: #dcdcdc;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #337ab7;
  background-color: #eee;
  border-color: #dcdcdc;
}
.appmain{
  margin-top: 20px;
}
.appmain .row .panel .panel-heading{
  background-color: #fff;
  padding: 0px;
}
.appmain .panel .db{
  height: 150px;
  background-image: url('res/img/txbg.jpg');
  background-size: cover;
}
.appmain .row .panel .panel-body .img-circle{
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    margin-top: -60px;
}

