<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="zh-CN" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="zh-CN" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="zh-CN" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh-CN" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="renderer" content="webkit">
  <meta name="description" content="基于项目管理的团队协作WebApp,支持手机\电脑\平板多终端,快捷好用!">
  <title>Makarov(马卡洛夫)-基于项目管理的团队协作WebApp</title>  
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="res/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">  
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" /> 
  <link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" /> 
  <link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />  
</head>
<body ng-controller="bodyCtrl" ng-class="bodycss">




  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
  -->
  <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
  <![endif]-->  
  <div id="sidebar" class="frame-sidebar" ng-class="sidebarcss">
    <ul>
      <div ng-if="islogin">
        <li class="menuHeader">导航</li>
        <li class="active"><a href="#/home"><span class="demo-icon">&#xe800;</span>Home</a></li>
        <li><a href="#/issue" ng-click="toggleSideBar()">事项</a></li>
        <li>计划</li>
        <li>项目</li>
        <li>文档</li>
        <li>记事</li>
        <li>工时</li>
      </div>
      <li class="menuHeader">文章</li>
      <li>博客</li>
      <li>帮助中心</li>
      <div ng-if="islogin">
        <li class="menuHeader" >用户</li>
        <li>个人设置</li>
        <li>消息</li>
        <li>增加协作者</li>
        <li>会员</li>
        <li><a href="#/logout">注销</a></li>
      </div>
      <div ng-if="!islogin">
        <li class="menuHeader" >用户</li>
        <li><a href="#/reg" ng-click="toggleSideBar()"><span class="demo-icon">&#xe802;</span>注册</a></li>
        <li><a href="#/login" ng-click="toggleSideBar()"><span class="demo-icon">&#xe85c;</span>登录</a></li>     
      </div>
    </ul>
  </div>
  <div id="frameMain" ng-class="framecss" ng-mousedown="closeSideBar()">
     <div ng-controller="myController" id="webMenu" class="webMenu">
        <div ng-include="src='user/login.html'"></div>
    </div>
    <div id="mobileMenu" class="mobileMenu">
      <div class="container" ng-class="containercss">
        <div class="row mobileBanner">
          <a href="">
            <img alt="Brand" src="./res/img/band.png" >
          </a>
          <button type="button" ng-click="toggleSideBar()">
            <span class="mobileMenuBar"></span>
            <span class="mobileMenuBar"></span>
            <span class="mobileMenuBar"></span>
          </button>
        </div>
      </div>
    </div>
    <mynav ng-if="islogin"></mynav>
    <div ng-view></div>
    <div ng-include="src='res/tpl/foot.html'"></div>   
  </div>



  <script src="res/jquery/jquery-1.11.3.min.js"></script>
  <script src="res/bootstrap/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="user/user.js"></script>
  <script src="home/web_home.js"></script>
  <script src="home/app_home.js"></script>
  <script src="model/project.js"></script>
  <script src="issue/issue.js"></script>
  <script src="issue/issuesheet.js"></script>
  <script src="utility/mycalendar.js"></script>
  <script src="bower_components/ui-select/dist/select.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  
</body>
</html>
