<div ng-controller="issuesheetCtrl">	
	<div class="container issue">
	<div class="row">
			<div class="panel panel-default" >
				<div class="panel-heading dd">
					事项列表
<!-- 					<div class="btn-group pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							···<span class="demo-icon">&#xe864;</span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div> 后面用留着-->
					<a href="" data-toggle="modal" data-target="#filterModal"class="pull-right" >筛选<span class="demo-icon">&#xe864;</span></a>
					<span class="pull-right">&nbsp;&nbsp;</span>
					<!-- <button type="button" class="btn btn-sm btn-info pull-right" ng-click="gotoIssue()">事项</button> -->
					<div class="df">&nbsp;</div>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
							</a>
						</div>
						<div class="media-body">
							<div class="card-layout">
								<p class="media-heading text-muted">迭代1</p>
								方案讨论
								<div class="media-r-t text-muted">
									56/67
								</div>
								<div class="media-r-b text-muted">
									<span>老马卡 10月17日</span>
									<span>caozuo</span>
								</div>
							</div>
						</div>
					</div>  
					<hr> 
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
							</a>
						</div>
						<div class="media-body">
							<div class="card-layout">
								<p class="media-heading text-muted">无迭代</p>
								方案讨论
								<div class="media-r-t text-muted">
									56/67
								</div>
								<div class="media-r-b text-muted">
									老马卡 10月17日
								</div>
							</div>
						</div>
					</div> 
					<hr>
					<div class="media-footer">
						<a href=""><span class="demo-icon">&#xe895;</span>下一批</a>
					</div>  
				</div><!--panel body-->
			</div><!--panel-->
		</div><!--row-->
	</div><!--container-->
	<div class="modal fade" id="filterModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">筛选条件选择</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label  class="col-sm-2 control-label">人员</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem">
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label  class="col-sm-2 control-label">项目</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem2" >
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray2 | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>				
						</div>
						<div class="form-group">
							<label  class="col-sm-2 control-label">事项单</label>
							<div class="col-sm-10">
							<ui-select ng-model="selectedItem3">
								<ui-select-match>
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (itemArray3 | filter: $select.search) track by item.id">
									<span ng-bind="item.name"></span>
								</ui-select-choices>
							</ui-select>
							</div>				
						</div>						
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div><!--ng-controller->