<div ng-controller="appCtrl">
  <mynav></mynav>
  <div class="container appmain">
  	<div class="row">
  		<div class="col-md-3">
  			<div class="panel panel-default">
  				<div class="panel-heading db">
  				</div>
  				<div class="panel-body">
  					<img src="res/img/tx.jpg" alt="" class="center-block img-circle" >
  					<h3 class="text-center">{{nickname}}</h3>
  					<p class="text-center">{{regdate}} 注册</p>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-5">
  			<div class="panel panel-default" ng-controller="issueCtrl">
  				<div class="panel-heading dd">
            <button class="btn btn-xs btn-info active btn-issue" ng-click="toggleIssue('issue')">事项</button>
            <button class="btn btn-xs btn-info btn-sheet" ng-click="toggleIssue('sheet')">事项单</button>
          </div>
  				<div class="panel-body">
            <div ng-show="issueShow">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <div class="card-layout">
                    <p class="media-heading text-muted">这里是事项单的名字</p>
                    网络游戏的时候有没有人数限制的讨论案网络游戏的时候有没有人数限制的讨论案
                    <div class="media-r-t text-muted">
                      老马卡
                    </div>
                    <div class="media-r-b">
                      10月17日
                    </div>
                  </div>
                </div>
              </div>  
              <hr> 
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <div class="card-layout">
                    <p class="media-heading text-muted">这里是事项单的名字</p>
                    网络游戏的时候有没有人数限制的讨论案网络游戏的时候有没有人数限制的讨论案
                    <div class="media-r-t text-muted">
                      老马卡
                    </div>
                    <div class="media-r-b">
                      10月17日
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="media-footer"><a href=""><span class="demo-icon">&#xe899;</span>进入</a></div>  
            </div> 
            <div ng-hide="issueShow">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <div class="card-layout">
                    <p class="media-heading text-muted">第1次迭代</p>
                    方案讨论
                    <div class="media-r-t text-muted">
                      56/67
                    </div>
                    <div class="media-r-b">
                      老马卡 10月17日 创建
                    </div>
                  </div>
                </div>
              </div> 
              <hr>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object card-icon img-circle" src="res/img/projtx.jpg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <div class="card-layout">
                    <p class="media-heading text-muted">第1次迭代</p>
                    方案讨论
                    <div class="media-r-t text-muted">
                      56/67
                    </div>
                    <div class="media-r-b">
                      老马卡 10月17日 创建
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="media-footer"><a href=""><span class="demo-icon">&#xe899;</span>进入</a></div>                              
            </div><!--nghide-->                    
  				</div><!--panel body-->
  			</div><!--panel-->
  			<div class="panel panel-default">
  				<div class="panel-heading">
  					<button class="btn btn-xs btn-info active btn-plan active" ng-click="toggleIssue('plan')">计划</button>
  					<button class="btn btn-xs btn-info btn-mile" ng-click="toggleIssue('mile')">￥里程碑</button>
  				</div>
  				<div class="panel-body">
  					<div ng-show="planShow">
  						<div ng-controller="calCtrl" >
  							<div class="text-center calendar-title" >
  								<span class="demo-icon"><a href="" ng-click="changeItem(itemType,-1)">&#xe884;</a></span>
  								<a href="" ng-click="showCalendar()">{{calendarTitle}}</a>
								  <span class="demo-icon"><a href="" ng-click="changeItem(itemType,1)">&#xe885;</a></span>
  							</div>
  							<div class="calendar-plan">
  								<ul calendarType="{{itemType}}">
                    <div ng-if="itemType=='dd'">
  									<li>日</li><!--
  									for li gap--><li>一</li><!--
  									for li gap--><li>二</li><!--
  									for li gap--><li>三</li><!--
  									for li gap--><li>四</li><!--
  									for li gap--><li>五</li><!--
  									for li gap--><li>六</li><!--
  									for li gap-->
                    </div>
  								</ul>
  								<ul ng-repeat="dayrow in dayrows" calendarType="{{itemType}}">
  									<li  ng-repeat="item in items[dayrow]">
  										<div class="center-block" fulldate="{{item.f}}" fm="{{item.fm}}" cd="{{item.cd}}" ng-click="changeCalendar(item.f)">
                        {{item.c}}
                      </div>
                      <span class="text-muted center-block">{{item.t}}</span>
  									</li>
  								</ul>
  							</div>
  							<div class="media-footer"><a href=""><span class="demo-icon">&#xe899;</span>进入</a></div>
              </div>
  					</div>
  					<div ng-hide="planShow">
  						b
  					</div>
  				</div>
  			</div>
  			<div class="panel panel-default">
  				<div class="panel-heading">项目</div>
  				<div class="panel-body">
  					Panel content
  				</div>
  			</div>
  		</div>
  		<div class="col-md-4">
  			<div class="panel panel-default">
  				<div class="panel-heading">文档</div>
  				<div class="panel-body">
  					Panel content
  				</div>
  			</div>
  			<div class="panel panel-default">
  				<div class="panel-heading">记事</div>
  				<div class="panel-body">
  					Panel content
  				</div>
  			</div>
  			<div class="panel panel-default">
  				<div class="panel-heading">工时</div>
  				<div class="panel-body">
  					Panel content
  				</div>
  			</div>
  		</div>  		
  	</div>

  	</div>  	
  </div>
</div>