<div class="container regContent" ng-controller="dologinCtrl">
	<h1 class="text-center">登&nbsp;录</h1>
	<form class="form form-group-lg da center-block">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><span class="demo-icon">&#xe809;</span></div>
				<input type="text" class="form-control" id="mailInput" placeholder="电子邮箱" ng-model="mail">
			</div>
			
			<div class="input-group">
				<div class="input-group-addon"><span class="demo-icon">&#xe8d7;</span></div>
				<input type="password" class="form-control" id="pwdInput" placeholder="密码" ng-model="pwd">
			</div>	
			<div class="input-group formLeft">
				<div class="input-group-addon"><span class="demo-icon">&#xe819;</span></div>
				<input type="text" class="form-control" id="phoneInput" placeholder="验证码" ng-model="checkcode">
			</div>
			<div class="formRight checkCode">abc5</div>

			<button class="btn btn-primary btn-lg form-control" ng-click="dologin()">登录</button>
			<a href="">忘记密码？</a>
		</div>
	</form>
</div>
